.functional-class-demo {
    text-align: center;
    background-color: #89e0c4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.comparison-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .component-box {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%;
  }
  
  .component-box button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .component-box button:hover {
    background-color: #1976d2;
  }
  